---
import "../css/style.css";
import Nav from "../components/Nav.astro";
import Frontnav from "../components/Frontnav.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Copenhagen Light Festival</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
            height: 100vh;
        }

        img {
            max-width: 100%;
			height:60%;
        }

    </style>
</head>
<header>
    <Nav />
</header>
<body>
    <img src="../img/frontpage.png"/>
    <Frontnav />

    <script></script>
</body>
<main></main>
</html>
