---
import "../css/style.css";
import Fronttext from "../components/Fronttext.astro";
import Frontnav from "../components/Frontnav.astro";
import Frontimg from "../components/Frontimg.astro";
import Sun from "../components/Sun.astro";
import Header from "../components/Header.astro";
import Logo from "../components/Logo.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Copenhagen Light Festival</title>
  </head>
  <body>
    <header>
      <Logo/>
      <Header />
    </header>

    <main>
      <Frontimg />
      <Fronttext />
      <Frontnav />
    </main>
    <footer>
      <Sun />
    </footer>
  </body>
</html>
