<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="../style.css" />
    <style>
      body {
        background-image: linear-gradient(to bottom, #100000, #152141);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-size: 36px;
      }
      h1 {
        text-align: center;
      }
    </style></head
  >

  <body>
    <p>Hej Verden</p>
  </body>
</html>
