---
import "../css/style.css";
import Nav from "../components/Nav.astro";
import SingleCard from "../components/SingleViewCard.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<img class="logo" src="https://picsum.photos/id/6/150/150" alt="CLF Logo">
			<Nav/>
		</header>
		<main>
<SingleCard/>
		<a class="back" href="#">Back</a>
	</main>
	</body>
</html>
<style>

	header{
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
	}
	main{
        display: grid;
		grid-template-columns: 1fr 6fr 1fr;
        align-content: center;
	}
	.back{
	grid-column: 1;
	grid-row: 1;
	margin: auto;
	font-weight: bold;
	font-size: 20px;
	}
	.logo{
		max-height: 50%;
		max-width: 100%;
		border-radius: 10px;
		margin: auto;
		grid-column: 1;
	}

    @media (min-width: 800px) {
        main {
            flex-direction: row;
        }
    }
</style>