---
import "../css/general.css";
import "../css/emil.css";
import Nav from "../components/Nav.astro";
import WhoCards from "../components/WhoCards.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
    <link rel="stylesheet" href="../css/general.css" />
  </head>

  <body>
    <header><Nav /></header>

    <main>
      <h1>About</h1>
      <div class="nav2">
        <nav>
          <li>
            <a href="#sec1">The association Copenhagen Light Festival</a>
          </li>
          <li><a href="#sec2">What is Copenhagen Light Festival</a></li>
          <li><a href="#sec3">Vision and creative platform</a></li>
        </nav>
      </div>
    </main>
    <section id="sec1">
      <div class="grid-1-1">
        <article>
          <h2>The association Copenhagen Light Festival</h2>
          <p>
            The festival is a non-profit association founded by Tivoli, Stromma,
            VNR.tv and Louis Poulsen / D Studio Copenhagen. With Copenhagen as a
            backdrop the association seeks to introduce and present light art in
            interaction with the city’s distinctiveness, darkness and
            aesthetics.
          </p>
          <p>
            The daily work on the festival is done by the secretariat who
            assists the board, collaborates with artists and hosts and supports
            the curatorial committee in their work with the festival program.
          </p>
          <p>
            The members of the curatorial committee are appointed by the board
            and have backgrounds within light art, lighting design,
            architectural lighting, light events and art history. The committee
            allocates the association’s funds to projects, artists and hosts on
            the basis of an assessment of the festival’s overall expression, the
            location of the art piece, and interaction with the city and the
            other art pieces.
          </p>
        </article>
        <section class="box-containers">
          <WhoCards
            image="https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/cb51e01e-6b26-4b05-b0a8-cd6425a3cce6.gif?ClientID=vimeo-core-prod&Date=1637743816&Signature=e85ad6ec4ce4a2137b7c03f3b97a426f349f6524"
            text1="Jesper Kongshaug"
            text2="Chairman"
            text3="Lighting designer Tivoli"
          />
          <WhoCards
            image="https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/78c54f8a-1f37-4bc2-94e1-b77d7cbf68a4.gif?ClientID=vimeo-core-prod&Date=1637745162&Signature=6a63c04a3d8274f3cb40797dcc072944fc9edab5"
            text1="Mads Vestergaard Olesen"
            text2="Vice chairman"
            text3="Adm. dir. / CEO, hos Stromma Denmark A/S"
          />
          <WhoCards
            image="https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/bfbc8645-93d4-4300-a193-62afb829ef38.gif?ClientID=vimeo-core-prod&Date=1637743799&Signature=9abbc14b15fa3ffd00d2245258685c222513b920"
            text1="Pia Allerslev"
            text2="Board member"
            text3="Former Mayor of culture, Copenhagen municipality"
          />
          <WhoCards
            image="https://videoapi-muybridge.vimeocdn.com/animated-thumbnails/image/aafd0518-c05f-436a-ab97-bd30ff7c722c.gif?ClientID=vimeo-core-prod&Date=1637743887&Signature=0a35e1e8e680499db15b50dba4d98725e8621109"
            text1="Anders Kongshaug"
            text2="Board member"
            text3="Director, vnr.TV…be seen more"
          />
        </section>
      </div>
    </section>
    <div class="glowing-border">
      <!-- Content goes here -->
    </div>

    <section id="sec2">
      <div class="grid-1-1">
        <div class="yt-video">
          <iframe
            width="600"
            height="350"
            src="https://www.youtube.com/embed/37wnUtY7Hmk?si=BrAWf_6qJHmUvLbB"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <article>
          <h2>What is Copenhagen Light Festival</h2>
          <p>
            The Copenhagen Light Festival is an annual event held in February,
            celebrating light art and illumination in Copenhagen. It showcases a
            variety of light-based works created by local and international
            artists, lighting designers, and students. The festival's curated
            program transforms the city's spaces, including squares, facades,
            bridges, and hidden places, into engaging, illuminated
            installations. Most of the artworks are located along a path in the
            inner city and harbor, with some outside the city center. This event
            invites people of all ages to experience the magic of light during
            the darkest and coldest time of the year in Copenhagen.
          </p>
        </article>
      </div>
    </section>

    <section id="sec3">
      <div class="grid-1-1">
        <article>
          <h2>Vision and creative platform</h2>
          <p>
            The Copenhagen Light Festival should celebrate Nordic Lighting
            Design traditions by embracing unique Nordic daylight qualities.
            Prioritize both natural and artificial light quality, experimenting
            with colors, movement, and occasional sound to create immersive,
            meditative experiences. Balance between artificial and daylight is
            essential. The festival's goal is to showcase light as an expressive
            and transformative art form while connecting with local light
            appreciation.
          </p>
          <ul>
            <li>Respect of and in balance with the darkness.</li>
            <li>
              Installations that improves life through interaction with human
              needs, architecture and spaces.
            </li>
            <li>
              Optimal balance between function, aesthetics and sustainability.
            </li>
            <li>
              Examples of minimalistic beauty and functionality to honour the
              Scandinavian Design traditions.
            </li>
            <li>
              Examples of festive and expressive installations, to the take
              advantage of a temporary element.
            </li>
          </ul>
        </article>
      </div>
    </section>
    <footer></footer>
  </body>
</html>

<style></style>
