---
const {image, title, address, link} = Astro.props;
---

<article>
    <img src={image} alt="">
    <h2>{title}</h2>
    <h2>{address}</h2>
    <a href={link}>GÅ TIL KUNSTNER</a>
    <slot />
</article>

<style>
   article{
    margin: 6%;
    background-color: rgb(56, 56, 56);
    width: 80%;
   }

   img{
    margin: 9% 9%;
    border-radius: 50px;
    width: 80%;
   }


   h2{
    font-size: 110%;
   }


</style>