---

---

<div class="filter">
  <a class="filterbutton active" data-filter="all">Hele København</a>
  <a class="filterbutton" data-filter="1">København N</a>
  <a class="filterbutton" data-filter="2">København Ø</a>
  <a class="filterbutton" data-filter="3">København S</a>
  <a class="filterbutton" data-filter="4">København V</a>
</div>



  



<style>
  
  .filter {
    padding: 10px 20px;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-bottom: 5%;
  }

  .filterbutton {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    margin: 5px 0;
  }

  
  @media (max-width: 1620px) {
    .filterbutton {
      font-size: 120%;
    }
  }

  @media (max-width: 1415px) {
    .filterbutton {
      font-size: 100%;
    }
  }

  @media (max-width: 1275px) {
    .filterbutton {
      font-size: 80%;
    }
  }

  @media (max-width: 1145px) {
    .filter {
      flex-direction: column; 
      align-items: center; 
    }

    .filterbutton {
      width: 100%; 
      text-align: center; 
      font-size: 100%;
    }
  }
</style>



  