<body>
    <footer>
        <p>© COPENHAGEN LIGHT FESTIVAL | info@copenhagenlightfestival.org | Tlf. +45 25 55 66 04</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/cphlightfest/" target="_blank"><img src="../../img/bg_img/fb.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/YourInstagramProfileURL" target="_blank"><img src="../../img/bg_img/insta.png" alt="Instagram"></a>
        </div>
    </footer>
</body>
<style>

footer {
    border-top: 2px solid white;
    padding: 10px;
    margin: 5%;
    font-size: 10px;
    text-align: center;
}

.social-icons {
    flex-direction: column; 
    align-items: center;
    margin-top: 10px; 
}
img {
    max-width: 30px; 
    padding:2px;
}
</style>