
<body>
    <h1>
        Discover Copenhagen through ligths
    </h1>
</body>


<style>
        section {
            text-align: center;
        }

        h1 {
            padding: 20px;
        }
        @media (max-width: 768px) {
            h1 {
                padding: 10px;
            }
        }
</style>