<body>
    <nav>
        <ul>
            <li>
                <a href="exhibitions.html" class="menu-item">
                    <span class="menu-text">EXHIBITIONS</span>
                    <span class="menu-arrow">&#8594;</span>
                </a>
            </li>
            <li>
                <a href="info.html" class="menu-item">
                    <span class="menu-text">INFO</span>
                    <span class="menu-arrow">&#8594;</span>
                </a>
            </li>
            <li>
                <a href="whoarewe.html" class="menu-item">
                    <span class="menu-text">WHO ARE WE?</span>
                    <span class="menu-arrow">&#8594;</span>
                </a>
            </li>
            <li>
                <a href="contact.html" class="menu-item">
                    <span class="menu-text">CONTACT</span>
                    <span class="menu-arrow">&#8594;</span>
                </a>
            </li>
        </ul>
    </nav>
    
</body>
<style>
    main {
        font-family: var(--font-family);
        background-color: var(--bg-gradient);
        color: var(--primary-text);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: var(--content-margin);
    }

    a {
        color: var(--primary-text);
        text-decoration: none;
        font-size: var(--text-size);
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;
        padding: var(--content-padding);
        border: 1px solid var(--primary-text);
        margin-right: 10px;
    }

    .menu-arrow {
        font-size: var(--text-size);
        color:var(--primary-text);
    }

    ul {
        list-style-type: none;
    }

    h1 {
        padding: var(--heading-padding);
    }

@media screen and (max-width: 768px) {

    nav {
        text-align: center; 
    }

    ul {
        padding: 0; 
    }

    .menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: var(--content-padding);
        border: 1px solid var(--primary-text);
        margin: 0 auto var(--content-margin); 
    }

    .menu-text {
        font-size: var(--text-size);
    }
    
    .menu-arrow {
        font-size: var(--text-size);
    }
}

.menu-arrow {
    font-size: var(--text-size);
}

</style>