
<style>
        .text  {
            font-family: var(--font-family);
            background-color: var(--bg-gradient);
            color: var(--primary-text);
            justify-content: center;
            align-items: center;
            margin: var(--content-margin);
            text-align: center;
        }

        h1 {
            padding: var(--heading-padding);
    
        }

        @keyframes blink {
            0% {
                opacity: 0.11;
            }
            50% {
                opacity: 1; 
            }
            100% {
                opacity: 1;
            }
        }

        @media screen and (max-width: 768px) {

            h1 {
                padding: 10px;
            }
        }
    </style>
</head>
<div class="text">
    <h1>
COPENHAGEN LIGHT FESTIVAL 

    </h1>
</body>
</html>
