
<nav>
  <nav>
    <div class="burger-menu">
      <div class="burger" id="burger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
    <div class="overlay" id="overlay">
      <ul>
        <li>
          <div class="menu-item">
            <a href="exhibitions.html" class="menu-text">EXHIBITIONS</a>
            <span class="menu-arrow">&#8594;</span>
          </div>
        </li>
        <li>
          <div class="menu-item">
            <a href="info.html" class="menu-text">INFO</a>
            <span class="menu-arrow">&#8594;</span>
          </div>
        </li>
        <li>
          <div class="menu-item">
            <a href="whoarewe.html" class="menu-text">WHO ARE WE?</a>
            <span class="menu-arrow">&#8594;</span>
          </div>
        </li>
        <li>
          <div class="menu-item">
            <a href="contact.html" class="menu-text">CONTACT</a>
            <span class="menu-arrow">&#8594;</span>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  

<script>
    const burger = document.getElementById("burger");
const overlay = document.getElementById("overlay");
burger.addEventListener("click", () => {
    overlay.classList.toggle("active");
    burger.classList.toggle("active");
});
</script>

<style>
    nav {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.burger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.burger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}

.bar {
    width: 100%;
    height: 3px;
    background-color:rgb(255, 255, 255);
}

.overlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to bottom, #100000, #152141); 
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
}

.overlay ul {
    list-style: none;
    padding: 0;
   
}

.overlay ul li {
    margin: 20px 0;
}

.overlay ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.overlay.active {
    right: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  color: white;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px; 
  margin-right: 10px;
  padding: 1rem;
  border: 1px solid white;
  text-decoration: none;
  color:white;
  font-size: 1.3rem;

}

.menu-text {
  flex: 1; 
}

.menu-arrow {
  font-size: 40px;
}


@media screen and (max-width: 768px) {
  .menu-item {
    width: 100%; 
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}

</style>