---

---

<footer>
    <section class="sun_container">
    <img src ="../../img/bg_img/Ellipse9.png" class="frontimg" alt="sun image png">
    <div class="stars">
        <img src="../../img/bg_img/Star 15.png" alt="Star 1" class="star1">
        <img src="../../img/bg_img/Star 16.png" alt="Star 2" class="star2">
        <img src="../../img/bg_img/Star 17.png" alt="Star 3" class="star3">
        <img src="../../img/bg_img/Star 18.png" alt="Star 4" class="star4">
        <img src="../../img/bg_img/Star 19.png" alt="Star 5" class="star5">
        <img src="../../img/bg_img/Star 20.png" alt="Star 6" class="star6">
        <img src="../../img/bg_img/Star 21.png" alt="Star 7" class="star7">
    </div>  
    </section>
</footer>
<style>
    .sun_container{
background-image: var(--bg-footer);
background-repeat: no-repeat;
background-size: auto;
height:158px;
position: relative;
overflow:hidden;

    }
</style>





