---
---
<footer>
    <div class="img_container">
    <img src="../../img/bg_img/Ellipse9.png" alt="sun image png" class="footer-image">
    </div>
</footer>
<!-- <footer>
    <section class="sun_container">
        <img class="sun" src="../../img/bg_img/Ellipse9.png" alt="Sun">
    </div> -->
    <!-- <div class="stars">
        <img src="../../img/bg_img/Star 15.png" alt="Star 1" class="star1">
        <img src="../../img/bg_img/Star 16.png" alt="Star 2" class="star2">
        <img src="../../img/bg_img/Star 17.png" alt="Star 3" class="star3">
        <img src="../../img/bg_img/Star 18.png" alt="Star 4" class="star4">
        <img src="../../img/bg_img/Star 19.png" alt="Star 5" class="star5">
        <img src="../../img/bg_img/Star 20.png" alt="Star 6" class="star6">
        <img src="../../img/bg_img/Star 21.png" alt="Star 7" class="star7">
    </div> -->
    <!-- </section>
</footer>
<style>
    .sun_container{
    z-index: -9999;
    width: auto;
    height: 13px;
    display: block;
    position: relative;
    overflow: hidden;
}

</style>

 -->
<style>
    /* Reset margin and padding for all elements (optional) */
* {
    margin: 0;
    padding: 0;
}

/* Style the footer */
footer {
    padding:10px;
    margin:10px;
    position: relative; /* Make sure the footer is relatively positioned */
    /* Add any other styles you need for your footer */
}

/* Style the footer image */
.footer-image {
    position: absolute;
    bottom: 0;
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Adjust for half of the image width */
    /* Add any other styles you need for the image */
}

</style>

