---
---
<footer>
    <div class="img_container">
    <img src="../../img/bg_img/Ellipse9.png" alt="sun image png" class="footer-image">
    </div>
</footer>

<style>
    img {
        max-width: 100%;
    }

    .img_container {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: auto;
        text-align: center; /* Center the content horizontally within the container */
    }

    .footer-image {
        margin: 0 auto; /* Center the image horizontally within its container */
        display: block; /* Ensure the image is displayed as a block element */
        z-index: -9999; 
    }

    @media (max-width: 768px) {
        .footer-image {
            width: 80%; 
        }
    }
</style>





