.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

body {
  margin: 2% 10%;
}
