@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;600;900&display=swap');

html {
  scroll-behavior: smooth;
}
:root { 
  --primary-text: white;
  --secondary-text: #FF9900;
  --font-family: 'Kanit', sans-serif;
  --content-padding: 20px; 
  --header-margin-bottom: 20px;
  --footer-margin-top: 20px;
}

body {
  background-image: linear-gradient(to bottom, #100000, #152141);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
  margin: var(--content-margin) 10%;
  padding-top: var(--content-padding); 
  margin-right: 10%;
  margin-left: 10%;
}


h1, 
h2,
h3,
h4,
p, ul,
li
 {
  color: var(--primary-text);
  font-family: var(--font-family);


}
h3 {
  font-weight: 300;
  font-size: 1.2rem;
}
h4 {
  font-weight: 300;
  font-size: 14px;
}

a:hover,
nav a:hover, .menutext, .kunstnerlist {
  color: #ff9900;
  transition: background-color 0.3s, color 0.3s;
}
p {

  font-size: 15px;
  font-weight: 300;
  font-size: 12px;
}

a:link, .menutext, .kunstnerlist {
  color: var(--primary-text);
}

a:active, .menutext, .kunstnerlist {
  color: var(--secondary-text);
}


p,
li, a, .menutext, .kunstnerlist, .info {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 300;
  color:var(--primary-text);
}

header {
  margin-bottom: var(--header-margin-bottom);

}

footer {
  margin-top: var(--footer-margin-top);
}
