
:root {
    --bg-gradient: linear-gradient(to bottom, #100000, #152141);
    --text-color: white;
    --font-family: Arial, sans-serif;
    /* --text-size: 16px; */
  }

  body {
    background-image: var(--bg-gradient);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    color: var(--text-color);
  }
  
  h1, h2, h3 {
    font-family: var(--font-family);
  }
  

  p, li {
    font-size: var(--text-size);
  }
  