@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;600;900&display=swap');

html {
  scroll-behavior: smooth;
}
:root {
  --bg-gradient: linear-gradient(to bottom, #100000, #152141);
  --primary-text: white;
  --secondary-text: #FF9900;
  --font-family: 'Kanit', sans-serif;
  --content-padding: 20px;
  --header-margin-bottom: 20px;
  --footer-margin-top: 20px;
}

body {
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: var(--content-margin) 10%;
  padding-top: var(--content-padding);
}


h1 {
  font-weight: 600;
}
h2 {
  font-weight: 600;
  font-size: 20px;
}

h1, 
h2,
h3,
h4,
p, ul,
li
 {
  color: var(--primary-text);
  font-family: var(--font-family);


}
h3 {
  font-weight: 300;
}
a:hover,
nav a:hover {
  color: #ff9900;
  transition: background-color 0.3s, color 0.3s;
}
p {

  font-size: 15px;
  font-weight: 300;
}
a:link {
  color: var(--primary-text);
}

a:active {
  color: var(--secondary-text);
}


p,
li, a {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 300;
}

header {
  margin-bottom: var(--header-margin-bottom);
}

footer {
  margin-top: var(--footer-margin-top);
}